/* Header (Encabezado) */
header {
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ddd;
}

.header-content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ea0000; /* Color llamativo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Menú de navegación */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.search-button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
}

.search-button:focus {
    outline: none;
}

.nav-link {
    text-decoration: none; /* Quita el subrayado */
    font-size: 18px;
}

.nav-link:hover {
    color: #aaa; /* Cambia el color al pasar el mouse */
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.pokedex-section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pokedex-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.pokedex-container {
    display: flex;
}

/* Estilos para el filtro de generación */
.generation-filter {
    width: 20%; /* Ajusta el ancho según sea necesario */
}

.generation-filter ul {
    list-style: none;
    padding: 0;
}

.generation-filter li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

/* Estilos para la lista de Pokémon */
.pokemon-list {
    width: 80%; /* Ajusta el ancho según sea necesario */
    padding-left: 20px;
}

.pokemon-list ul {
    list-style: none;
    padding: 0;
}

.pokemon-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
}
