/* Estilos para la sección de cartas */
.card-section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el filtro de precio */
.price-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.price-filter span {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilos para la grid de cartas */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el ancho mínimo según sea necesario */
    gap: 20px; /* Espacio entre las cartas */
}

/* Estilos para cada carta */
.card-item {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.card-item img {
    max-width: 100%;
    height: auto;
}

.card-item p {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
}
